name: ci
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.17.0
      - name: Install deps and build dist
        run: npm i

      - name: Check for unexpected dist changes
        run: git diff --quiet

      - run: npm run lint
